{% extends 'BAsee.html' %}

    {% block content %}

    {% load static %}

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="blog__details__content">
                        <div class="blog__details__item">
                            <img src="img/blog/blog-3.jpg" alt="">
                            <div class="blog__details__item__title">
                                <span class="tip">Styling</span>
                                <h4>Style your basic black kurti!!</h4>
                                <ul>
                                    <li>by <span>PINKY MISHRA</span></li>
                                    <li>May 12, 2021</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details__desc">
                            <p>Hello!! 
                                This blog is going to help you for how you can style your simple basic black kurti ... 
                                And I consider that each of us ofcourse have one black kurti in our wardrobe...
                                
                                
                                Let's start.
                                
                                
                                1. With jeans: 
                                In this first look I have weared blue jeans with black choker and a shimmering bag with it .. and i have created kohl eyes look to enhance the beauty of black🖤
                                <br>
                                <img class="image-blog" src="https://lh3.googleusercontent.com/-HfqQVgwCEK4/YJvumq4KGOI/AAAAAAAAAWY/VmCAkvAIB3cWJkxmdTLfXs6PiGkZHHaJACNcBGAsYHQ/s1600/1620831894394397-0.png">
                                
                                <br>
                                2.With jacket:
                                
                                Here I have weared one of my blue denim jacket with it and the makeup look is same throughout....
                                <br>
                                <img class="image-blog" src="https://lh3.googleusercontent.com/-h7snjrworxQ/YJvulbXPf-I/AAAAAAAAAWU/bMw-ujCXkaEKmh64gesV0qNCuNg6XjaZQCNcBGAsYHQ/s1600/1620831889755495-1.png">
                                <br>
                                
                                3. With banarasi duppata: 
                                In this look I have weared black palazo and with in that a pink banarasi duppata ....
                                It turns the basic black kurti into a ethinic wear❤️
                                <br>
                                <img class="image-blog" src="https://lh3.googleusercontent.com/-O-pVcnakyZc/YJvukcAHF0I/AAAAAAAAAWQ/yNFdmgf45Sk51-afD9Ybkv0Yl7AeoMPsQCNcBGAsYHQ/s1600/1620831884521463-2.png">
                                <br>
                                
                                So this is it!! Hope you guys liked it .... 
                                Stay tuned for more blogs comming soon .. this week ✌🏻 
                                
                                And let me know in the comments do you guys liked this blog or not😊❤️
                                
                                
                                Till then 
                                | Stay safe | Stay home |
                                
                        </div>
                        <div class="blog__details__quote">
                            <div class="icon"><i class="fa fa-quote-left"></i></div>
                        </div>
                        <div class="blog__details__desc">
                        </div>
                        
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    {% endblock %}