{% extends 'BAsee.html' %}

    {% block content %}

    {% load static %}
   <!-- Blog Section Begin -->
   <section class="blog spad">
    <div class="container">
        <div class="row">
            <a target="_blank" href="{% url 'blog-details' %}">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic large__item set-bg" data-setbg="{% static  'img/blog-1.jpg' %}"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">Style your basic black kurti!!</a></h6>
                        <ul>
                            <li>by <span>PINKY MISHRA</span></li>
                            <li>May 12, 2021</li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="{% static 'img/blog-2.jpg' %}"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">TALKING ABOUT MY STYLE!</a></h6>
                        <ul>
                            <li>by <span>PINKY MISHRA</span></li>
                            <li>May 16, 2021</li>
                        </ul>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="{% static 'img/blog-3.jpg' %}"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">DIY Embroidered jeans👖♥️</a></h6>
                        <ul>
                            <li>by <span>PINKY MISHRA</span></li>
                            <li>June 13,2020</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic large__item set-bg" data-setbg="{% static  'img/blog-6.jpg' %}"></div>
                    <div class="blog__item__text">
                        <h6><a href="#">DIWALI OUTFITS IDEA🪔!!</a></h6>
                        <ul>
                            <li>by <span>PINKY MISHRA</span></li>
                            <li>November 02, 2021</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <a href="#" class="primary-btn load-btn">Load more posts</a>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
    {% endblock %}