{% extends 'BAsee.html' %}

    {% block content %}

    {% load static %}

    <!-- Dashoboard Section Start -->
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-2">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">Zarna Pathak</span>
                    <span class="text-black-50">zarnapathak@gmail.com.my</span>
                    <span> <h1>  </h1></span>
                    <span> <h1>  </h1></span>
                    <span> <h1>  </h1></span>
                    <button class="btn btn-outline-dark w-100 ">My Profile Setting</button>
                    <span> <h1>  </h1></span>
                    <span> <h1>  </h1></span>
                    <span> <h1>  </h1></span>
                    <a href="orderdetail.html" class="w-100">
                        <button class="btn btn-outline-dark w-100">
                            My Orders
                        </button>
                    </a>
                    <span> <h1>  </h1></span>
                    <span> <h1>  </h1></span>
                    <span> <h1>  </h1></span>
                    <button class="btn btn-outline-dark w-100">Log Out</button>
                </div>
            </div>
            <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="text-right">Profile Settings</h5>
                        </div>
                        <form method="POST" action="DASHBOARD">
                            {% csrf_token %}
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" name="Name" value=""></div>
                                <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" name="Surname" value="" placeholder="surname"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" name="Mobile Number" placeholder="enter phone number"  value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" name="Address Line 1" placeholder="enter address line 1" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" name="Address Line 2" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" name="Postcode" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" name="State" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" name="Area" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" name="Email ID" placeholder="enter email id" value=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" name="Country" placeholder="country" value=""></div>
                                <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control"  name="State/Region"  value="" placeholder="state"></div>
                            </div>
                            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" onclick="fun11()" id="btn1" type="submit">Save Profile</button>
                            </div>
                        </form>
                    </div>   
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                     <div id="div1" style="display: none;">
                        <table class="table">
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Name</td>
                                <td>Zarna</td> 
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Surname</td>
                                <td>Pathak</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Mobile No</td>
                                <td>+91 9377609440</td>
                              </tr>
                               <tr>
                                <th scope="row">4</th>
                                <td>Address Line 1</td>
                                <td>D-1 Madhuram Flat,behind H/P<br>Petrol Pump</td>
                              </tr>
                               <tr>
                                <th scope="row">5</th>
                                <td>Address Line 2</td>
                                <td>D-1 Madhuram Flat,behind H/P<br>Petrol Pump</td>
                              </tr>
                              <tr>
                                <th scope="row">6</th>
                                <td>Postcode</td>
                                <td>380051</td>
                              </tr>
                               <tr>
                                <th scope="row">7</th>
                                <td>State</td>
                                <td>Ahmedabad</td>
                              </tr>
                               <tr>
                                <th scope="row">8</th>
                                <td>Area</td>
                                <td>Jivaraj Park</td>
                              </tr>
                              <tr>
                                <th scope="row">9</th>
                                <td>Email ID</td>
                                <td>zarnapathak@gmail.com</td>
                              </tr>
                              <tr>
                                <th scope="row">10</th>
                                <td>Country</td>
                                <td>India</td>
                              </tr>
                              <tr>
                                <th scope="row">11</th>
                                <td>State/Region</td>
                                <td>Gujarat</td>
                              </tr>
                            </tbody>
                          </table>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Section End -->

   {% endblock %}