{% load static %}
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
         
    <title>Set_New_Password</title>
</head>
<body>
    <div class="container" style="margin-left: 100px;">
        <div class="forms">
            <div class="form login">
                <span class="title">Set Password</span>

                <form action="set_pass" method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="password" placeholder="New Password" name="newpass" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirm Password" name="cpass" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <input type="hidden" value="{{uname}}" name="username">
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            
                        </div>
                        
                    </div>
                    
                    <div class="input-field button">
                        <input type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="form login">
        <img src="{% static 'img/reg_log.png' %}" style="height: 400px; width:500px; margin-left:100px;">
    </div>
    <script src="{% static 'js/script1.js' %}"></script>
    <script>
        function mesg(){
            document.getElementById('messg').style.display='block';
        }
        
    </script>
</body>
</html>