{% load static %}
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
         
    <title>Forgot Password</title>
</head>
<body>
    <div class="container" style="margin-left: 100px; height:400px">
        <div class="forms">
            <div class="form login">
                <span class="title">Forgot Password</span>
                <form action="forgot_password" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" placeholder="Username" name="username" required>
                        <i class="uil uil-user icon"></i>
                    </div>
                    <div class="input-field button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
                <div class="login-signup">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="form login">
        <img src="{% static 'img/reg_log.png' %}" style="height: 400px; width:500px; margin-left:100px;">
    </div>
    <script src="{% static 'js/script1.js' %}"></script>
    <script>
        function mesg(){
            document.getElementById('messg').style.display='block';
        }
        
    </script>
</body>
</html>