{% load static %}
<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Ashion Template">
        <meta name="keywords" content="Ashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Promising Beauty</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- HEADER FILE OF CUSTOMIZATION -->
        <!---------------------------------------------------------------------------------------------->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Customization</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'img1/favicon.png' %}" rel="icon">
        <link href="{% static 'img1/apple-touch-icon.png' %}" rel="apple-touch-icon">
        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" <!--
            Vendor CSS Files -->
        <link href="{% static 'vendor1/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'vendor1/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor1/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor1/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor1/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor1/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Template Main CSS File -->
        <link href="{% static 'css1/style.css' %}" rel="stylesheet">

  <!-- HEADER FILES COMPLETED OF CUSTOMIZATIONS PAGES -->
    
    </head>

    <style>

    /*----- a Tag Style -----*/
    a{
        text-decoration: none;
    }
    
    /*===== Header Style ======*/

    /*----- Logo Style -----*/

    h4
    {font-family:'Lucida Calligraphy';}

    /*----- End Logo Style -----*/

    /*----- Header Content Style -----*/

    .header_ul{
        text-align: center;
        list-style-position:center;
    }

     /*----- End Header Content Style -----*/
     
     /*===== End Header Style ======*/




     /*-------- STYLE OF CUSTOMIZATIONS PAGES ----------*/

     * {
        box-sizing: border-box;
      }
  
      /* Style the search field */
      .example {
        margin-left: 77px;
        height: 53px;
        width: 550px;
      }
  
      form.example input[type=text] {
        padding: 10px;
        height: 50px;
        width: 200px;
        font-size: 17px;
        border: none;
        /*1px solid rgb(0, 0, 0)*/
        float: left;
        width: 80%;
        background: #ffffff;
      }
  
      /* Style the submit button */
      form.example button {
        float: left;
        height: 51px;
        width: 20%;
        padding: 10px;
        background: #0f1119;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        /* Prevent double borders */
        cursor: pointer;
      }
  
      form.example button:hover {
        background: grey;
      }
  
      /* Clear floats */
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }
  
      .icon-box {
        width: 216px;
        height: 255px;
      }

      /*----------------COMPLETED CUSTOMIZATION CSS------------------*/
    </style>

    <body>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><h4>Promising Beauty</h4></a>
                    </div>
                </div>
                <div class=" col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul class="header_ul">
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="shop/product">Shop</a></li>
                            <li><a href="#">WELCOME</a>
                                <ul class="dropdown">
                                    <li><a href="dash/dashboard">My Profile</a></li>
                                    <li><a href="order/myorder">My Orders</a></li>
                                    <li><a href="wish/wishlist">My Wishlist</a></li>
                                    <li><a href="cart/Addtocart">My Bag</a></li>
                                    <li><a href="auth/logout">Log Out</a></li>
                                </ul>
                            </li>
                            <li><a href="blogs/blog">Blog</a></li>
                            <li><a href="contact">Contact</a></li>
                            {% if user.is_authenticated %}
                            <li>
                               <b> Hello, {{user.first_name}} </b>
                            </li>    
                            <li>
                                <a href="auth/logout">logout</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="auth/login">Login/Registration</a>
                            </li>
                            {% endif %} 
                        </ul>
                        
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                       
                        <ul class="header__right__widget" style="margin-left: -50px;">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="wish/wishlist"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="shop-cart/cart"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                        <div class="header__right__auth" style="margin-left: 30px; margin-right:-10px">
                            <a href="customization/custom"><button class="btn btn-dark" style="border-radius: 20px;">Customization</button></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

<section id="services" class="services section-bg">
    
<div class="row">
    
         <div class="col-lg-4">
            <div class="container" data-aos="fade-up">
            <div class="section-title">
            <p>Choose Wedding Layout</p>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                
            </div>
            <div class="row">
            <div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300" style="width: 540px;
            height: 550px;">
                    <div class="icon-box">
                        <div class="icon"><img src="wedding1.jpg" class="img-fluid" alt="image" style="width: 180px ; height:156px"></div>
                        <h4 class="title"><a href="">LAYOUT 1</a></h4>
                        </div>
            </div>
    
            
            <div class="col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
               
            </div>
            </div>
            </div>
       </div>
       
       <div class="col-lg-6" style="margin-top:8px;">
        <div class="section-title" style="margin-top: 311px;">
            <h2><p>This is your customized product!</p></h2>
            <p>Click here to re-edit.</p>
            <a href="weddinghoop.html">
                <button class="btn btn-outline-info">
                    EDIT<i class='bx bx-md bxs-pencil' ></i>
                </button>
            </a>
            </div>
       </div>
</div>
</div>
</section>

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-1.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@knott_your_vision</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-2.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@knott_your_vision</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-3.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@knott_your_vision</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-4.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@knott_your_vision</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-5.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@knott_your_vision</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-6.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@knott_your_vision</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <h3>Promisimg Beauty</h3>
                        <p>
                          Vibhavri society <br>
                          Jivrajpark Ahmedabad-51<br>
                          India <br><br>
                          <strong>Phone:</strong>+91 9913843445<br>
                          <strong>Email:</strong> kavitapatel@gmail.com<br>
                        </p>
                        <div class="footer__payment">
                            <a href="#"><img src="{% static 'img/payment/payment-1.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-2.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-3.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-4.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'img/payment/payment-5.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <!--<h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>-->
                        <h6>OUR SOCIALS</h6>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!---CUSTOMIZATION PAGES SCRIPT--->
    <!-- vendor1 JS Files -->
    <script src="{% static 'vendor1/aos/aos.js' %}"></script>
    <script src="{% static 'vendor1/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor1/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor1/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor1/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor1/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js1/main.js"></script>
    <!---CUSTOMIZATION PAGES SCRIPT--->
    </body>

    </html>