{% extends 'BAsee.html' %}

    {% block content %}

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.increment-btn').click(function(e){
                e.preventDefault();
                var inc_val = $(this).closest('.product_data').find('.qty-input').val();
                var value = parseInt(inc_val,10);
                value = isNaN(value) ? 0 : value;
                if(value < 10){
                    value++;
                    $(this).closest('.product_data').find('.qty-input').val(value);
                    var price= $(this).closest('.product_data').find('.prc').data("name");
                    var qty=$(this).closest('.product_data').find('.qty-input').val();
                    var tot=price*qty;
                    $(this).closest('.product_data').find('.total').val(tot);
                }
            });

            $('.decrement-btn').click(function(e){
                e.preventDefault();

                var inc_val = $(this).closest('.product_data').find('.qty-input').val();
                var value = parseInt(inc_val,10);
                value = isNaN(value) ? 0 : value;
                if(value > 1){
                    value--;
                    $(this).closest('.product_data').find('.qty-input').val(value);
                    var price= $(this).closest('.product_data').find('.prc').data("name");
                    var qty=$(this).closest('.product_data').find('.qty-input').val();
                    var tot=price*qty;
                    $(this).closest('.product_data').find('.total').val(tot);

                }
            });
        });
    </script>
    
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    </style>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Details</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prod in bag_data %}
                                <tr class="product_data">
                                    <td class="cart__product__item" style="width:400px;">
                                        <img src="{{prod.prod_img.url}}" alt="" style="height: 400px; width:300px;">
                                    </td>
                                    <td >
                                        <div class="cart__product__item__title">
                                        <h5>{{prod.prod_name}}</h5>
                                        <div class="rating text-danger">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                    </td>
                                    <td class="cart__price text-success">&#8377 <span class="prc" data-name="{{prod.prod_price}}">{{prod.prod_price}}</span></td>
                                    <td class="cart__quantity">
                                        <div class="">
                                            {% csrf_token %}
                                            <button class="btn btn-dark decrement-btn">-</button>
                                            <input type="text" name="quantity" value="1" size="1" class="qty-input"/>
                                            <button class="btn btn-dark increment-btn" id="">+</button>
                                        </div>
                                    </td>
                                    <td class="cart__total text-success">&#8377 <input class="total border-0" size="3" value="{{prod.prod_price}}" type="text"/></td>
                                    <td class="cart__close"><a href="{% url 'remove_bag' prod.product_id %}"><span class="icon_close"></span></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="{% url 'shop' %}">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    {% if user.is_authenticated %}
                        <div class="btn btn-dark"><a href="{% url 'proceed_checkout' %}" class="text-light">PROCEED TO CHECKOUT</a></div> 
                    {% else %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong class="fs-2">Oops!</strong><span class="text-danger fs-4"> First, Login for using our Services..!!</span><br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="btn btn-dark btn-lg"><a href="{% url 'login' %}" class="text-light">Login/Registration</a></div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->
    
    {% endblock %}
    