{% extends 'BAsee.html' %}

    {% block content %}

    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white;">
        <form class="form-inline my-2 my-lg-0" action="search" method="get" style="margin-left: 250px;">
          <input class="form-control mr-sm-2" name="prod_name" type="search" placeholder="Search" aria-label="Search" style="width: 800px;">
          <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white;"> 
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin-left: 390px;">
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kurti
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                <form action="categories" method="GET">
                    <input type="hidden" name="type" value="Cotton">
                    <button type="submit" class="border-0 dropdown-item" ><a class="dropdown-item">Cotton</a></button> 
                </form>
                <a class="dropdown-item" href="#">Gamthi</a>
                <a class="dropdown-item" href="#">Southcotton</a>
                <a class="dropdown-item" href="#">Silk</a>
                <a class="dropdown-item" href="#">Capsule</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kurti Set
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Jaipuri</a>
                <a class="dropdown-item" href="#">Cotton</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tunics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Cotton</a>
                <a class="dropdown-item" href="#">Gamthi</a>
                <a class="dropdown-item" href="#">South Cotton</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pants
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Cotton</a>
                <a class="dropdown-item" href="#">Southcotton</a>
                <a class="dropdown-item" href="#">Silk</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Duppata's
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Southcotton</a>
                <a class="dropdown-item" href="#">Silk</a>
                </div>
            </li>
            </ul>
            <a href="{% url 'low_to_high' %}"><button class="btn btn-dark" style="margin-left: 80px;">Low to High</button></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'high_to_low' %}"><button class="btn btn-dark">High to Low</button></a>
        </div>
    </nav>
    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-md-9">
                    <div class="row">
                        {% for item in products %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{item.p_img.url}}">
                                    <div class="label new">{{item.p_label}}</div>
                                    <ul class="product__hover">
                                        <li><a href="{{item.p_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        {% if user.is_authenticated %}
                                        <li><a href="add-to-wishlist/{{item.product_id}}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="add-to-bag/{{item.product_id}}"><span class="icon_bag_alt"></span></a></li>
                                        {% else %}
                                        <li><a href="{% url 'wish_icon_error' %}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'bag_icon_error' %}"><span class="icon_bag_alt"></span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{item.p_name}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{item.p_price}}</div>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                        {% for data in data %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{data.p_img.url}}">
                                    <div class="label new">{{data.p_label}}</div>
                                    <ul class="product__hover">
                                        <li><a href="{{data.p_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="add-to-wishlist/{{data.product_id}}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="add-to-bag/{{data.product_id}}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{data.p_name}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{data.p_price}}</div>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                        {% for Prod in Prods %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{Prod.p_img.url}}">
                                    <div class="label new">{{Prod.p_label}}</div>
                                    <ul class="product__hover">
                                        <li><a href="{{Prod.p_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add-to-wishlist' Prod.product_id %}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'add-to-bag' Prod.product_id %}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a target="_blank" href="{% url 'product-detail' Prod.product_id %}">{{Prod.p_name}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{Prod.p_price}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for Bag in Bags %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{Bag.purse_img.url}}">
                                    <ul class="product__hover">
                                        <li><a href="{{Bag.purse_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add-to-wishlist' Bag.purse_id %}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'add-to-bag' Bag.purse_id %}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h5><a target="_blank" href="{% url 'product-detail' Bag.purse_id %}">{{Bag.purse_name}}</a></h5>
                                    <h6><a href="">{{Bag.purse_Brand}}</a></h6>
                                    <h6><a href="">{{Bag.purse_type}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{Bag.purse_price}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for footwear in FootWears %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{footwear.footWear_img.url}}">
                                    <ul class="product__hover">
                                        <li><a href="{{footwear.footWear_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add-to-wishlist' footwear.footWear_id %}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'add-to-bag' footwear.footWear_id %}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h5><a target="_blank" href="{% url 'product-detail' footwear.footWear_id %}">{{Bag.purse_name}}</a></h5>
                                    <h6><a href="">{{footwear.footWear_brand}}</a></h6>
                                    <h6><a href="">{{footwear.footwear_type}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{footwear.footwear_price}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for cosmetic in cosmetics %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{cosmetic.Csmtc_img.url}}">
                                    <ul class="product__hover">
                                        <li><a href="{{cosmetic.Csmtc_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add-to-wishlist' cosmetic.Csmtc_id %}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'add-to-bag' cosmetic.Csmtc_id %}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h5><a target="_blank" href="{% url 'product-detail' cosmetic.Csmtc_id %}">{{cosmetic.Csmtc_name}}</a></h5>
                                    <h6><a href="">{{cosmetic.Csmtc_brand}}</a></h6>
                                    <h6><a href="">{{cosmetic.Csmtc_type}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{cosmetic.Csmtc_price}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for accessorie in accessories %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{accessorie.Acs_img.url}}">
                                    <ul class="product__hover">
                                        <li><a href="{{accessorie.Acs_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add-to-wishlist' accessorie.Acs_id %}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'add-to-bag' accessorie.Acs_id %}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h5><a target="_blank" href="{% url 'product-detail' accessorie.Acs_id %}">{{accessorie.Acs_name}}</a></h5>
                                    <h6><a href="">{{accessorie.Acs_brand}}</a></h6>
                                    <h6><a href="">{{accessorie.Acs_type}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{accessorie.Acs_price}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                         <div class="col-lg-12 text-center">
                            
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

        {% endblock %}