{% extends 'BAsee.html' %}

    {% block content %}

    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white;">
        <form class="form-inline my-2 my-lg-0" action="search" method="get" style="margin-left: 250px;">
          <input class="form-control mr-sm-2" name="prod_name" type="search" placeholder="Search" aria-label="Search" style="width: 800px;">
          <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white;"> 
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin-left: 390px;">
            
            {% for cat in Cats %}
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="?Cat={{cat.cat_id}}">
                    {{cat.cat_name}}
                </a>
            </li>
            {% endfor %}
            </ul>
            <a href="{% url 'low_to_high' %}"><button class="btn btn-dark" style="margin-left: 80px;">Low to High</button></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'high_to_low' %}"><button class="btn btn-dark">High to Low</button></a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white;"> 
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin-left: 100px;">
            
            {% for subcats in subcat %}
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="{% url 'subcats' %}?SubCat={{subcats.subcat_id}}">
                    {{subcats.subcat_name}}
                </a>
            </li>
            {% endfor %}
        </div>
    </nav>
    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-9">
                    <div class="row">
                        {% for item in products %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{item.p_img.url}}">
                                    <div class="label new">{{item.p_label}}</div>
                                    <ul class="product__hover">
                                        <li><a href="{{item.p_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="add-to-wishlist/{{item.product_id}}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="add-to-bag/{{item.product_id}}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{item.p_name}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{item.p_price}}</div>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                        {% for data in data %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{data.p_img.url}}">
                                    <div class="label new">{{data.p_label}}</div>
                                    <ul class="product__hover">
                                        <li><a href="{{data.p_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="add-to-wishlist/{{data.product_id}}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="add-to-bag/{{data.product_id}}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{data.p_name}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{data.p_price}}</div>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                        {% for Prod in Prods %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{Prod.p_img.url}}">
                                    <div class="label new">{{Prod.p_label}}</div>
                                    <ul class="product__hover">
                                        <li><a href="{{Prod.p_img.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add-to-wishlist' Prod.product_id %}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="{% url 'add-to-bag' Prod.product_id %}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a target="_blank" href="{% url 'product-detail' Prod.product_id %}">{{Prod.p_name}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price text-success">&#8377  {{Prod.p_price}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        </div>
                       
                        
                         <div class="col-lg-12 text-center">
                            
                        </div>
                    </div>
                </div>
            </div>
       
    </section>
    <!-- Shop Section End -->

        {% endblock %}